@charset "utf-8";



/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	/*-webkit-text-size-adjust: none;*/
	color: #494136;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #ffffff;	/*背景色f7f5e2*/
}
/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #15adad;	/*リンクテキストの色*/
	transition: 0.3s;	/*マウスオン時の移り変わるまでの時間設定。0.3秒。*/
}
a:hover {
	color: #799a3a;	/*マウスオン時の文字色*/
}

/*ゲームタイトルの最初にマークを付ける
--------------------------------------------------------------------------*/
#gametitle:before {
    content: "🎮";
    }


